@import url("https://cdn.jsdelivr.net/npm/@joblist/components@0.0.28/dist-lib/style.css");

/* to be added to job list components styles */
body {
	:is(:root[joblist-layout]) & {
		margin: 0;
	}
}
joblist-layout {
	:is(joblist-page) {
		padding: calc(var(--s) / 3);
	}
}

joblist-to {
	:is(a) {
		&:hover {
			border-radius: var(--s-border-radius);
			background-color: var(--c-bg);
			color: var(--c-fg);
			border-color: var(--c-link);
		}
		padding: var(--s);
		background-color: var(--c-link);
		border: 0.1rem solid transparent;
		color: var(--c-bg);
		transition: all 222ms ease-in-out;
	}
	&[text]:not([text=""])::before {
		content: attr(text);
		margin-right: calc(var(--s) / 2);
	}
	display: flex;
	align-items: center;
	padding: var(--s);
}

/* navigation */
.nav--index {
	:is(li) {
		background-color: var(--c-bg);
		display: flex;
		flex-grow: 1;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	list-style: none;
	/* display: flex; */
	/* flex-wrap: wrap; */
	max-height: 100vh;
	position: sticky;
	top: 0;
	z-index: 2;
	margin-top: 0;
	margin-right: calc(var(--s) / 3);
	padding-left: 0;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	align-items: center;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.nav--index::-webkit-scrollbar {
	display: none;
}
.nav-index {
	display: none;
}
.nav--index a {
	padding: 0 0.5rem;
	text-decoration: none;
	font-size: 1.2rem;
	color: var(--c-fg);
	text-transform: uppercase;
}
.nav--index a:hover {
	background-color: var(--c-link);
	color: var(--c-bg);
}

/* pages */
.page__main--index {
	display: flex;
}

/* companies in list */
.companies-list {
	list-style: none;
	padding: 0;
}
.companies-list ul {
	list-style: none;
	padding-left: 0;
}
.companies-list .company-card {
	margin-bottom: var(--s);
}

.company-card {
	background-color: var(--c-bg--company);
	padding: calc(var(--s) / 2);
}
.company-card a {
	text-decoration: none;
}
.company-card__header,
.company-card__description,
.company-card__main {
	margin-bottom: calc(var(--s) / 3);
}
.company-card__title {
	margin-bottom: 0;
	font-size: 1.2rem;
	word-wrap: break-word;
}
@media (min-width: 40rem) {
	.company-card__title {
		font-size: 1.7rem;
	}
}
.company-card__title a {
	color: var(--c-fg);
	text-decoration: underline;
}
.company-card__tags {
	margin-bottom: 0.5rem;
}
.company-card__links-nav .nav__item {
	word-break: break-word;
}
.company-card__description {
	word-break: break-word;
	max-width: var(--s-container);
}

/* tags */
.tags ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.tag {
	:is(h1) & {
		&::before {
			content: "#";
		}
		&:hover,
		&:active {
			border-color: var(--c-link);
		}
		transition: border-color 222ms ease-in-out;
		padding: calc(var(--s) / 1.5) calc(var(--s) / 3) calc(var(--s) / 3);
		border: 2px solid transparent;
		display: inline-flex;
	}
	margin-right: calc(var(--s) / 2);
	color: var(--c-tag--fg);
	background-color: var(--c-tag--bg);
	border-radius: 0.2em;
	padding: 0 0.3rem;
	display: inline-flex;
	margin: 0.3rem;
}
